<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ngw.mindbase">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application

        android:name="com.ngw.mindbase.MindTimeApplication"
        android:allowBackup="true"
        tools:replace="android:icon,android:label"
        android:icon="@drawable/icon"
        android:label="MindBase"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.CardActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>